<div class="relative h-[784px] shrink-0 self-stretch pt-[169px] pr-[142px] pb-[169px] pl-[142px]" style="aspect-ratio: 1440/784">
  <img
    class="absolute top-[0%] bottom-[-0.64%] left-[50%] h-[100.64%] w-[1440px]"
    style="
      translate: -50%;
      box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      object-fit: cover;
      aspect-ratio: 1440/789;
    "
    src="bg0.png"
  />
  <div
    class="absolute top-[0%] right-[0%] bottom-[-0.64%] left-[0%] h-[100.64%] w-[100%]"
    style="
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 55.288463830947876%,
        rgba(253, 253, 255, 0.4) 75%,
        rgba(251, 251, 254, 1) 94.9999988079071%
      );
    "
  ></div>
  <div class="absolute top-[calc(50%_-_186px)] left-[calc(50%_-_582px)] flex h-[354px] w-[900px] flex-col items-start justify-start gap-[70px] overflow-hidden">
    <div class="text-text-colour font-header-font-family text-header-font-size font-header-font-weight relative text-left">Header</div>
    <div class="text-text-colour font-content-font-family text-content-font-size font-content-font-weight relative text-left">Lorem Ipsum lalalalalala</div>
    <div class="gap-var-sds-size-space-400 relative flex w-60 shrink-0 flex-row items-center justify-start">
      <div class="rounded-var-sds-size-radius-200 p-var-sds-size-space-300 gap-var-sds-size-space-200 relative flex flex-1 flex-row items-center justify-center overflow-hidden bg-[rgba(153,152,152,0.80)]">
        <div class="text-var-sds-color-text-neutral-default font-single-line-body-base-font-family text-single-line-body-base-font-size leading-single-line-body-base-line-height font-single-line-body-base-font-weight relative text-left">Team</div>
      </div>
      <div class="bg-var-sds-color-background-brand-default rounded-var-sds-size-radius-200 border-var-sds-color-border-brand-default p-var-sds-size-space-300 gap-var-sds-size-space-200 relative flex flex-1 flex-row items-center justify-center overflow-hidden border border-solid">
        <div class="text-var-sds-color-text-brand-on-brand font-single-line-body-base-font-family text-single-line-body-base-font-size leading-single-line-body-base-line-height font-single-line-body-base-font-weight relative text-left">Maps</div>
      </div>
    </div>
  </div>
</div>