<!DOCTYPE html>
<html>
<head>
  <title><%= indexData.title %></title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <h1><%= indexData.title %></h1>
  <img src="<%= indexData.imgpath %>" alt="image">
  <p><%= indexData.description %></p>
</body>
</html>