<footer class="bg-black relative flex items-center justify-center h-20 overflow-hidden">
    <div class="text-white/40 text-center text-2xl font-medium" style="font-family: 'Inter-Medium', sans-serif;">
        <%= common.footer.text %> | <a href="mailto:<%= common.footer.email %>"><%= common.footer.email %></a>
    </div>
</footer>