<!-- Mobile overlay for navigation -->
<div id="overlay" class="fixed inset-0 bg-black/50 hidden z-40"></div>

<header class="pt-2.5 pr-[65px] pb-2.5 pl-[65px] flex flex-col gap-0 items-center justify-start relative overflow-hidden">

  <div class="pr-2.5 pl-2.5 flex flex-row items-center justify-between w-full h-[147px] relative">

    <!-- Logo -->
    <img
      src="\images\Minimal - MajiMapsIcon.png"
      alt="Minimal Africa Flag Logo"
      class="shrink-0 w-[352.37px] h-[83px]"
      style="object-fit: cover; aspect-ratio: 352.37 / 83"
    />


  </div>

  <!-- Bottom underline bar -->
  <div class="bg-[#bebebe] rounded-[60px] w-full h-[5px] relative"></div>

</header>
