<!DOCTYPE html>
<html lang="en">
<%- include("../../partialsGlobal/head") %>

    <body class="scroll-smooth bg-gray-50 font-inter pb-13 sm:pb-0">
        <main class="flex flex-col items-center justify-center">
            <section id="<%= %>" class="bg-bg-blue h-screen flex items-center justify-center px-6 py-12">
                <div class="w-full max-w-[1102px] bg-[rgba(228,228,228,0.50)] rounded-[20px] shadow-lg backdrop-blur-sm px-[45px] py-[30px] flex flex-col gap-[30px] items-center justify-center relative">
                    
                    <p>hello</p>

                </div>
            </section>
        </main>
        <%- include("../../partialsGlobal/scripts") %>
    </body>

</html>